{# junos_system.jinja handles the system hostname #}
{# include "debug.jinja" #}
{% include "junos_system.jinja" %}
{% include "junos_chassis.jinja" %}
{% include "junos_interfaces.jinja" %}
{% include "junos_forwarding_options.jinja" %}
{% include "junos_policy_options.jinja" %}
{% include "junos_protocols.jinja" %}
{% include "junos_snmp.jinja" %}
{% include "junos_routing_instances.jinja" %}
{% include "junos_routing_options.jinja" %}
{% include "junos_filter.jinja" %}