{% set ae_list = interfaces.values()|selectattr('if_type', 'eq', 'port_channel')|list %}
debug {
    /* This is the ae_list */
    {{ ae_list }};
{% for interface_name, iface in interfaces.items() %}
    /* */
    interface_name: {{ interface_name }};
    iface: {
        {{ iface }};
    }
{% endfor %}
}