{% set sys_prop = property_sets.get('custom_sys_properties', {} ) %}
{% if 'protect_re' in sys_prop and sys_prop.protect_re.enabled %}
firewall {
    family inet {
        filter Protect-RE_v4 {
            term MGT {
                from {
                    source-prefix-list {
                        MGT_SUBNETS_v4;
                    }
                    port [ ssh ntp radius radacct tacacs domain syslog snmp snmptrap 830 ];
                }
                then {
                    count MGT_v4;
                    accept;
                }
            }
            term BGP {
                from {
                    port 179;
                }
                then {
                    count BGP_v4;
                    accept;
                }
            }
            term DEFAULT {
                then {
                    count OTHER_v4;
                    accept;
                }
            }
        }        
    }
    family inet6 {
        filter Protect-RE_v6 {
            term MGT {
                from {
                    source-prefix-list {
                        MGT_SUBNETS_v6;
                    }
                    port [ ssh ntp radius radacct tacacs domain syslog snmp snmptrap 830 ];
                }
                then {
                    count MGT_v6;
                    accept;
                }
            }
            term BGP {
                from {
                    port 179;
                }
                then {
                    count BGP_v6;
                    accept;
                }
            }
            term DEFAULT {
                then {
                    count OTHER_v6;
                    accept;
                }
            }
        }        
    }
}
{% endif %}