{% if 'leaf' in system_tags %}
{% set routing_instances = property_sets.get('vrf_vlan', {}).itervalues()|list %}
{% set dev_router_id = function.get_resource_value(resources, 'router_id', 'fabric_resources', 'devices') %}
{% set local_asn = function.get_resource_value(resources, 'asn_assignments', 'fabric_resources', 'devices') %}
{% set rd = dev_router_id|to_ip %}
{% set ns = namespace(dev_vlan_list = []) %}
{% set vlan_list = [] %}
{% for ri_item in routing_instances %}
    {% for key, value in ri_item.items() %}
        {% if key == 'vlans' %}
            {% for k, v in value.items() %}
                {{ vlan_list.append(k) or "" }}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endfor %}
{% for interface_name, iface in interfaces.iteritems() %}
    {% if 'mode_trunk' in iface.link_tags or 'mode_access' in iface.link_tags %}
        {% for vlan in vlan_list %}
            {% if vlan in iface.link_tags %}
                {{ ns.dev_vlan_list.append(vlan) or "" }}
            {% endif %}
        {% endfor%}
    {% endif %}
{% endfor %}
routing-instances {
    replace: VSWITCH {
        instance-type mac-vrf;
        protocols {
            evpn {
                encapsulation vxlan;
                default-gateway do-not-advertise;
                extended-vni-list all;
            }
        }
        vtep-source-interface lo0.0 inet6;
        service-type vlan-aware;
    {% for interface_name, iface in interfaces.iteritems() %}
        {% if 'mode_trunk' in iface.link_tags or 'mode_access' in iface.link_tags %}
        interface {{ interface_name }}.0;
        {% endif %}
    {% endfor %}
        route-distinguisher {{ rd }}:65534;
        vrf-target {
            target:100:100;
            auto;
        }
{% if ns.dev_vlan_list %}
        vlans {
{% for ri in routing_instances %}
    {% for vlan, vlan_items in ri.vlans.iteritems() %}
        {% if vlan in ns.dev_vlan_list %}
            {{ vlan }} {
                vlan-id {{ vlan_items.vlan_id }};
                vxlan {
                    vni {{ vlan_items.vxlan_vni }};
                }
            {% if vlan_items.ip_prefix != "" %}
                l3-interface irb.{{ vlan_items.vlan_id }};
            {% endif %}
            }
        {% endif %}
    {% endfor %}
{% endfor %}
        }
{% endif %}
    }
{% for ri in routing_instances %}
    replace: {{ri.vrf_name }} {
        instance-type vrf;
    {% if ri.lo0_unit %}
        interface lo0.{{ ri.lo0_unit }};
    {% endif %}
    {% for vlan, vlan_items in ri.vlans.iteritems() %}
        {% if vlan in ns.dev_vlan_list and vlan_items.ip_prefix != "" %}
        interface irb.{{ vlan_items.vlan_id }};
        {% endif %}
    {% endfor %}
        route-distinguisher {{ rd }}:{{ ri.tenant_vni }};
    {% if local_asn > 65535 %}
        vrf-target target:{{ local_asn }}L:{{ ri.tenant_vni }};
    {% else %}
        vrf-target target:{{ local_asn }}:{{ ri.tenant_vni }};
    {% endif %}
        vrf-table-label;
        routing-options {
            multipath;
            auto-export;
        }
        protocols {
            evpn {
                ip-prefix-routes {
                    advertise direct-nexthop;
                    encapsulation vxlan;
                    vni {{ ri.tenant_vni }};
                    export BGP-AOS-Policy-{{ ri.vrf_name }};
                }
            }
        }
    }
{% endfor %}
}
{% endif %}
{# EOF #}